@model PaginatedList<LB.Models.LBEvent>

@{
    ViewData["Title"] = "Events";
}

<!-- header start -->
<header class="page-heading s-p-100" style="background-image: url('./img/h2-2.jpg');">
    <div class="container text-center">
        <h1>Upcoming Events</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Events</li>
            </ol>
        </nav>
    </div>
</header>
<!-- /header end -->
<!-- content start -->
<section class="s-p-100">
    <div class="container-md container-fluid px-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 mb-5">
                <!-- Event Item -->
                @foreach (var item in Model)
                {
                    <article class="card event-card">
                        <h2 class="title">
                            <a asp-action="single" asp-controller="events" asp-route-id="@item.Slug">@item.Title</a>
                        </h2>
                        <div class="meta">
                            <span class="datetime">
                                <span>@DateTime.Parse(item.StartDate).ToString("MMMM dd, yyyy")</span> to
                                @if (!string.IsNullOrEmpty(item.EndDate))
                                {
                                    <span>@DateTime.Parse(item.EndDate).ToString("MMMM dd, yyyy")</span>
                                }
                                @@
                                @item.StartTime - @item.EndTime
                            </span>
                            <div class="location-meta">
                                <span class="location">@item.Venue</span>,
                                <address>@item.Address </address>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-sm-4">
                                <a asp-action="single" asp-controller="events" asp-route-id="@item.Slug"><img src="/uploads/images/@item.Image.Thumbnail" alt="" class="card-img"></a>
                            </div>
                            <div class="col-sm-8">
                                <div class="card-body py-sm-0 px-0 px-sm-4">
                                    <p class="event-desc">
                                        @item.Caption
                                    </p>
                                    <a asp-action="single" asp-controller="events" asp-route-id="@item.Slug" class="theme-button button-sm small-text button-2">
                                        Find out more »
                                    </a>
                                </div>
                            </div>
                        </div>
                    </article>
                }
                <!-- /event item -->
            </div>
        </div>

        <nav aria-label="Pagination" class="pagination-container">
            <ul class="pagination">
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        <a asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" class="page-link">
                            <i class="icofont-double-left"></i>
                        </a>
                    </li>
                }
                @for (var currentPage = 1; currentPage <= Model.TotalPages; currentPage++)
                {
                    <li class="page-item">
                        <a href="" class="page-link">@currentPage</a>
                    </li>
                }
                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        <a asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" class="page-link">
                            <i class="icofont-double-right"></i>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</section>
<!-- /content end -->