@model PaginatedList<Resource>

@{
    ViewData["Title"] = "Resource List (Trash)";
}

<!--Begin Nav-->
<nav class="page-nav">
    <a asp-action="Create" class="btn btn-with-icon btn-success">
        <i class="la la-plus"></i>
        Create New
    </a>
    <a asp-action="Index" class="btn btn-with-icon btn-indigo">
        <i class="la la-arrow-left"></i>
        Back To List
    </a>
</nav>
<!--End Nav-->

@(await Html.PartialAsync("_tablenav"))

<div class="">
    <table id="table" class="table table-bordered table-light">
        <thead>
            <tr>
                <th>
                    <label class="ckbox">
                        <input type="checkbox" onchange="checkAll(this)" />
                        <span></span>
                    </label>
                </th>
                <th>S/N</th>
                <th>Image</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @(await Html.PartialAsync("_emptytable"))
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        <label class="ckbox">
                            <input type="checkbox" value="@item.Id" name="id" class="bulk-select" form="bulk-form" />
                            <span></span>
                        </label>
                    </th>
                    <th>@Model.GetIndex(item)</th>
                    <td>
                        @if (item.IsLocalResource)
                        {
                            <img src="@(item.Image != null ? $"/uploads/images/{item.Image.Thumbnail}" : "/img/back3.jpg")" alt="@(item.Image?.Alt)" style="width: 50px; height: 50px; object-fit: cover;" />
                        }
                    </td>
                    <td>@item.Title</td>
                    <td>@item.Slug</td>
                    <td>@Html.Raw(item.Description)</td>
                    <td>@item.Created</td>
                    <td>@item.Modified</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-indigo" data-toggle="dropdown">Actions <i class="la la-arrow-down"></i></button>
                            <div class="dropdown-menu">
                                @if (item.IsLocalResource)
                                {
                                    <a href="~/uploads/resources/@item.ResourceUrl" data-fancybox data-type="iframe" class="dropdown-item text-success">
                                        View
                                    </a>
                                }
                                else
                                {
                                    <a href="@item.ResourceUrl" data-fancybox class="dropdown-item text-success">
                                        View
                                    </a>
                                }
                                <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">
                                    Edit
                                </a>
                                <a href="javascript:;" data-src="#restore-form-@item.Id" data-fancybox class="dropdown-item text-primary">
                                    Restore
                                </a>
                                <a href="javascript:;" data-src="#delete-form-@item.Id" data-fancybox class="dropdown-item text-danger">
                                    Delete
                                </a>
                            </div>
                        </div>
                        <div hidden>
                            <form asp-action="Restore" asp-route-p="@Model.PageIndex" asp-route-s="@Model.PageSize" asp-route-search="@ViewData["search"]" method="post" id="restore-form-@item.Id">
                                <input name="id" asp-for="@item.Id" hidden />
                                <p>Are you sure you want to restore this item?</p>
                                <button class="btn btn-success btn-with-icon">
                                    <i class="la la-check"></i>
                                    Yes
                                </button>
                                <button class="btn btn-danger btn-with-icon" data-fancybox-close>
                                    <i class="la la-close"></i>
                                    No
                                </button>
                            </form>

                            <form asp-action="DeletePermament" asp-route-p="@Model.PageIndex" asp-route-s="@Model.PageSize" asp-route-search="@ViewData["search"]" method="post" id="delete-form-@item.Id">
                                <input name="id" asp-for="@item.Id" hidden />
                                <p>Are you sure you want to permanently delete this item (@item.Title) ?</p>
                                <button class="btn btn-success btn-with-icon">
                                    <i class="la la-check"></i>
                                    Yes
                                </button>
                                <button class="btn btn-danger btn-with-icon" data-fancybox-close>
                                    <i class="la la-close"></i>
                                    No
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="mb-3">
    <form id="bulk-form" asp-action="TrashBulkAction" asp-route-s="@Model.PageSize" asp-route-search="@ViewData["search"]">
        <div class="form-inline">
            <select name="bulk" asp-items="@(Html.GetEnumSelectList<BulkActionsTrash>())" class="form-control select">
                <option value="">Select Bulk Option</option>
            </select>
            <button class="btn btn-purple btn-with-icon">
                <i class="la la-arrow-right"></i>
                Submit
            </button>
        </div>
    </form>
</div>

@(await Html.PartialAsync("_pagination"))