@model Resource

@{
    ViewData["Title"] = "Resources";
}

    <section class="s-p-100">
		<div class="container">
			<div class="d-block mb-3">
				<a href="javascript:;" onclick="window.history.back()" class="">
					<i class="la la-arrow-left"></i>
					Previous Page
				</a>

				<a asp-action="Index" class="">
					<strong>
						Resources Page
					</strong>
				</a>
			</div>

			<h4 class="text-uppercase">@Model.Title</h4>

			<div class="row justify-content-center">
				<div class="col-lg-8 mb-4 tx-14">
					@if (Model.IsLocalResource)
					{
						<div class="image-container image-10-9">
							<img src="~/uploads/images/@Model.Image.Thumbnail" alt="" class="image" />
						</div>
						<a asp-action="Download" asp-route-id="@Model.Slug" class="theme-button button-1 button-sm mt-2 btn-block d-none d-lg-block">Download File</a>
					}
					else
					{
						<div style="overflow:hidden;position: relative;">
							<iframe frameborder="0"
									scrolling="no"
									marginheight="0"
									marginwidth="0"
									width="100"
									type="text/html"
									style="min-height: 400px; width: 100%"
									src="@Model.ResourceUrl?autoplay=1?autoplay=1&fs=1&iv_load_policy=3&showinfo=1&rel=0&cc_load_policy=0&start=0&end=0"></iframe>
						</div>
						<br />
					}

					<div class="mt-4">
						@Html.Raw(Model.Description)
					</div>

					<div class="meta">
						<span><strong>Category</strong>: @Model.Category.Name</span> <br />
						<span><strong>Created</strong>: @Model.Created.ToString("MMM dd, yyyy")</span> <br />
						<span><strong>Access</strong>: @string.Join(",", Model.ResourceAccesses.Select(x => x.ResourceAccess.Name))</span>
					</div>
				</div>
				<div class="col-lg-4">
					<h4 class="mb-4">Latest Resources</h4>

					@foreach (var resource in ViewBag.Resources as IEnumerable<Resource>)
					{
						<div class="div mb-4">
							<a asp-action="Resource" asp-route-id="@resource.Slug">
								<h6>@resource.Title</h6>
								<div class="image-container image-16-9">
									@if (resource.IsLocalResource || resource.Image != null)
								{
									<img src="/uploads/images/@(resource.Image?.Thumbnail)" alt="" class="image" />
								}
								else
								{
									var ytId = resource.ResourceUrl.Split("/").LastOrDefault();
									<img src="https://img.youtube.com/vi/@ytId/0.jpg" alt="" class="image">
								}
								</div>
							</a>
						</div>
					}
				</div>
			</div>
		</div>
    </section>

