@model Resource

@{
    ViewData["Title"] = "Resources";
}

    <section class="s-p-100">
		<div class="container">
			<div class="d-block mb-3">
				<a href="javascript:;" onclick="window.history.back()" class="">
					<i class="la la-arrow-left"></i>
					Previous Page
				</a>

				<a asp-action="Index" class="ml-3">
					<strong>
						Resources Page
					</strong>
				</a>
			</div>

			<h4 class="text-uppercase">@Model.Title</h4>

			<div class="row justify-content-center">
                <div class="col-lg-8 mb-4 tx-14">
                    @if (Model.IsLocalResource)
                    {
                        if (Model.Image != null)
                        {
                            <div class="image-container image-10-9">
                                <img src="~/uploads/images/@Model.Image.Thumbnail" alt="" class="image" />
                            </div>
                        }

						<div class="embed-responsive embed-responsive-21by9">
							<iframe class="embed-responsive-item" src="~/uploads/resources/@Model.ResourceUrl"></iframe>
						</div>
                    }


                    <div class="mt-4">
                        @Html.Raw(Model.Description)
                    </div>

                    <div class="meta">
                        <span><strong>Category</strong>: @Model.Category.Name</span> <br />
                        <span><strong>Created</strong>: @Model.Created.ToString("MMM dd, yyyy")</span> <br />
                        <span><strong>Access</strong>: @string.Join(",", Model.ResourceAccesses.Select(x => x.ResourceAccess.Name))</span>
                    </div>
                </div>
				<div class="col-lg-4">
					<h4 class="mb-4">Latest Resources</h4>

					@foreach (var resource in ViewBag.Resources as IEnumerable<Resource>)
					{
						<div class="div mb-4">
							<a asp-action="Resource" asp-route-id="@resource.Slug">
								<h6>@resource.Title</h6>
								<div class="image-container image-16-9">
									@if (resource.IsLocalResource || resource.Image != null)
								{
									<img src="@(resource.Image != null ? $"/uploads/images/{resource.Image.Thumbnail}" : "/img/back3.jpg" )" alt="" class="image" />
								}
								</div>
							</a>
						</div>
					}
				</div>
			</div>
		</div>
    </section>

