@model Sermon

@{
	ViewData["Title"] = $"Sermons: @Model.Title";
}

<!-- header start -->
<header class="page-heading s-p-100" style="background-image: url('@(Model.SiteImage?.Image ?? "/img/about_top-page.jpg")');">
	<div class="container text-center">
		<h1>@Model.Title</h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb bg-transparent">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				<li class="breadcrumb-item"><a asp-action="Index">Sermons</a></li>
				<li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
			</ol>
		</nav>
	</div>
</header>

<section class="s-p-100">
	<div class="container">
		<h2 class="text-center mg-b-30">@Model.Title</h2>

		<div class="mg-b-20">
			@if (Model.FileType == FileType.Audio)
			{
				<audio src="@Model.FileURL" preload="metadata" class="w-100" controls />
			}
			else if (Model.FileType == FileType.Video)
			{
				@*<video src="@Model.FileURL" preload="metadata" class="w-100" controls />*@
				<div class="embed-responsive embed-responsive-21by9">
					<iframe class="embed-responsive-item" src="@Model.FileURL"></iframe>
				</div>
			}
		</div>
		<div>
			@Model.Description
		</div>
	</div>
</section>